/*Global vars*/
:root {
  /* Colors */
  --dark-1: #18171d;
  --dark-2: #1c1c24;
  --dark-1-transparent: rgba(26, 25, 31, 0.9);
  --dark-3: #15161a;
  --dark-4: #76757a;
  --gray-1: #2a2a2a;
  --gray-2: #adadad;
  --dark-violet-1: #2994c0;
  --last-status-transparent: rgba(12, 124, 152, 0.9);
  --white-transparent: rgba(255, 255, 255, 0.9);
  --dark-conversation-border: #26262e;
  --red-1: #dc3545;
}

/*Conversation*/
#background-conversation {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2400' height='1600' preserveAspectRatio='none' viewBox='0 0 2400 1600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='2400' height='1600' x='0' y='0' fill='rgba(13%2c 14%2c 16%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsG1005' transform='translate(0%2c 0)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1005' transform='translate(0%2c 660)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1005' transform='translate(0%2c 1320)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1005' transform='translate(660%2c 0)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1005' transform='translate(660%2c 660)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1005' transform='translate(660%2c 1320)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1005' transform='translate(1320%2c 0)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1005' transform='translate(1320%2c 660)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1005' transform='translate(1320%2c 1320)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1005' transform='translate(1980%2c 0)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1005' transform='translate(1980%2c 660)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1005' transform='translate(1980%2c 1320)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='2400' height='1600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cg id='SvgjsG1004'%3e%3cpath d='M14.09 11.8l-0.26-1.44-2.37 0.41L9.63 8.59l2.8-0.49 1.55 1.84 1.13-0.94-1.01-1.2 1.91-0.33-0.3-1.71-1.91 0.34 0.54-1.47-1.38-0.5-0.83 2.26L9.33 6.89 10.3 4.21l2.38-0.42-0.26-1.44L10.88 2.62 11.54 0.8l-1.62-0.6-0.67 1.82L8.25 0.83l-1.12 0.94 1.54 1.85L7.7 6.29 5.87 4.11 6.69 1.85l-1.38-0.5-0.53 1.46-1.25-1.48-1.32 1.11 1.24 1.49-1.54 0.27 0.26 1.44 2.37-0.42L6.37 7.41 3.57 7.9l-1.55-1.84-1.13 0.94 1.01 1.2-1.91 0.33 0.3 1.71 1.91-0.34-0.54 1.47 1.38 0.5L3.87 9.61 6.67 9.11l-0.97 2.68-2.37 0.42 0.25 1.44 1.54-0.27-0.66 1.82 1.63 0.6 0.66-1.82 1 1.19 1.12-0.94-1.54-1.85 0.97-2.67L10.13 11.89l-0.82 2.26 1.38 0.51L11.22 13.19l1.25 1.48 1.33-1.11-1.25-1.49z'%3e%3c/path%3e%3cpath d='M-10.83 1.15l-2.73 7.5'%3e%3c/path%3e%3cpath d='M-12.43 5.56l1.92 2.29'%3e%3c/path%3e%3cpath d='M-10.83 1.15L-8.1-6.35'%3e%3c/path%3e%3cpath d='M-9.22-3.26l-1.92-2.29m1.92 2.29l2.94-0.52m-6.15 9.34l-2.94 0.52'%3e%3c/path%3e%3cpath d='M-10.83 1.15L-18.69 2.53'%3e%3c/path%3e%3cpath d='M-15.45 1.96l-1.02 2.81'%3e%3c/path%3e%3cpath d='M-10.83 1.15l7.86-1.39'%3e%3c/path%3e%3cpath d='M-6.2 0.33L-5.18-2.47m-1.02 2.8l1.92 2.29m-11.17-0.66l-1.92-2.28'%3e%3c/path%3e%3cpath d='M-10.83 1.15L-15.96-4.97'%3e%3c/path%3e%3cpath d='M-13.84-2.45l-2.95 0.52'%3e%3c/path%3e%3cpath d='M-10.83 1.15l5.13 6.11'%3e%3c/path%3e%3cpath d='M-7.81 4.75l2.94-0.52m-2.94 0.52l-1.02 2.8m-5.01-10L-12.82-5.26'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1002'%3e%3cpath d='M13.02 12.75c-0.94 2.57-3.78 3.9-6.35 2.96-2.57-0.94-3.9-3.78-2.96-6.35 0.44-1.22 1.37-2.9 3.59-3.93 4.05-1.89 4.81-3.54 4.8-3.54 2.27 4.87 1.85 8.29 0.92 10.86z'%3e%3c/path%3e%3cpath d='M5.66 2.68s-0.6 3 1.32 5.53c1.07 1.41 3.05 4.99 2.73 5.88-0.68 1.86-5.31 0.8-7.17 0.12s-2.82-2.74-2.14-4.6c0.68-1.86 1.73-5.29 5.26-6.93z'%3e%3c/path%3e%3cpath d='M8.61 6.69s-0.26 0.95 0.76 3.14c0.56 1.2 0.36 2.22 0.12 2.88-0.51 1.39-2.05 2.11-3.44 1.6s-2.11-2.05-1.6-3.44c0.51-1.39 1.53-2.96 4.16-4.18z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1003'%3e%3cpath d='M5.59 14.24a9.98 9.98 0 0 0 0.59-7.09A9.99 9.99 0 0 0 1.93 1.45 9.97 9.97 0 0 0 1.33 8.54a9.98 9.98 0 0 0 4.26 5.7z m1.65-7.39a11.29 11.29 0 0 1 0.37 1.92 11.33 11.33 0 0 1 1.51-1.23 11.1 11.1 0 0 1 1.95-1.05A9.97 9.97 0 0 0 10.66 0.45a9.98 9.98 0 0 0-4.22 4.39 11.23 11.23 0 0 1 0.8 2.01z m9.42-0.04a9.99 9.99 0 0 0-6.92 1.64 10.06 10.06 0 0 0-2.09 1.88 11.07 11.07 0 0 1-0.91 4.01 9.97 9.97 0 0 0 5.82-1.71A9.97 9.97 0 0 0 16.66 6.81z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1001'%3e%3cpath d='M13.71 7.4L2.74 14.55l4.22-6.3-3.99-1.38L12.36 1.08 8.56 5.53l5.15 1.87z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1005'%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(0%2c 0) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(0%2c 66) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(0%2c 132) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(0%2c 198) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(0%2c 264) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(0%2c 330) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(0%2c 396) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(0%2c 462) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(0%2c 528) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(0%2c 594) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(66%2c 0) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(66%2c 66) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(66%2c 132) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(66%2c 198) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(66%2c 264) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(66%2c 330) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(66%2c 396) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(66%2c 462) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(66%2c 528) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(66%2c 594) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(132%2c 0) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(132%2c 66) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(132%2c 132) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(132%2c 198) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(132%2c 264) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(132%2c 330) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(132%2c 396) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(132%2c 462) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(132%2c 528) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(132%2c 594) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(198%2c 0) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(198%2c 66) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(198%2c 132) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(198%2c 198) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(198%2c 264) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(198%2c 330) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(198%2c 396) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(198%2c 462) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(198%2c 528) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(198%2c 594) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(264%2c 0) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(264%2c 66) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(264%2c 132) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(264%2c 198) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(264%2c 264) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(264%2c 330) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(264%2c 396) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(264%2c 462) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(264%2c 528) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(264%2c 594) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(330%2c 0) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(330%2c 66) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(330%2c 132) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(330%2c 198) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(330%2c 264) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(330%2c 330) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(330%2c 396) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(330%2c 462) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(330%2c 528) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(330%2c 594) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(396%2c 0) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(396%2c 66) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(396%2c 132) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(396%2c 198) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(396%2c 264) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(396%2c 330) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(396%2c 396) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(396%2c 462) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(396%2c 528) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(396%2c 594) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(462%2c 0) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(462%2c 66) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(462%2c 132) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(462%2c 198) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(462%2c 264) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(462%2c 330) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(462%2c 396) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(462%2c 462) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(462%2c 528) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(462%2c 594) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(528%2c 0) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(528%2c 66) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(528%2c 132) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(528%2c 198) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(528%2c 264) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(528%2c 330) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(528%2c 396) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(528%2c 462) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(528%2c 528) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(528%2c 594) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(594%2c 0) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1004' transform='translate(594%2c 66) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(594%2c 132) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(594%2c 198) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(594%2c 264) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1003' transform='translate(594%2c 330) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(594%2c 396) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1001' transform='translate(594%2c 462) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(594%2c 528) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1002' transform='translate(594%2c 594) scale(3)' fill='rgba(44%2c 45%2c 46%2c 1)'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}

#conversation {
  background-color: var(--dark-3);
  border: 1px solid var(--dark-conversation-border);
}

#header-chat {
  background-color: var(--dark-1-transparent);
  height: 85.5px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  top: 0px;
}

#search-contact {
  border-radius: 12px;
  background-color: var(--dark-1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

#header-menu-name {
  font-size: 20px;
  color: var(--white-transparent);
  height: 49.5px;
}

#new-messages {
  color: var(--white-transparent);
  margin: 0px;
}

#new-messages-number {
  color: var(--last-status-transparent);
  margin: 0px;
}

#header-chat-name {
  font-size: 20px;
  color: var(--white-transparent);
}

#header-status {
  font-size: 13px;
  color: var(--last-status-transparent);
}

#chat-icon {
  font-size: 20px;
  font-weight: lighter;
  padding: 0px 30px;
  color: var(--white-transparent);
}

/*Menu*/
#menu {
  background-color: var(--dark-2);
}

#header-logo {
  height: 85.5px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
  top: 0px;
}

#sign-out-icon {
  font-size: 20px;
  color: var(--red-1);
}

/*Typezone icons*/
#send-icon {
  color: var(--dark-violet-1);
  font-size: 1.5em;
}

#emoji-icon {
  color: var(--gray-2);
}

#file-icon {
  color: var(--gray-2);
}

#search-icon {
  color: var(--gray-2);
}

#write-icon {
  color: var(--dark-violet-1);
  font-size: 18px;
}

#write-button:hover #write-icon {
  transform: scale(1.4);
  transition: all 0.2s ease-in-out;
}

#search-button:hover #search-icon {
  color: var(--dark-violet-1);
  transform: scale(1.4);
  transition: all 0.2s ease-in-out;
}

#attach-button:hover #file-icon {
  color: var(--dark-violet-1);
  transform: scale(1.4);
  transition: all 0.2s ease-in-out;
  rotate: 180deg;
  transition: all 0.4s ease-in-out;
}

#emoji-button:hover #emoji-icon {
  color: var(--dark-violet-1);
  transform: scale(1.4);
  transition: all 0.2s ease-in-out;
}

#send-button:hover #send-icon {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

/*Typezone*/
#typezone {
  bottom: 0px;
  margin-bottom: 16px;
  height: 50px;
}

#typezone-section {
  border-radius: 12px;
  background-color: var(--dark-2);
  border: 2px solid #23282e;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 1);
}

/*TextArea*/
#message-input {
  background-color: var(--dark-2);
  color: #fff;
  border: none;
}

#contact-input {
  background-color: var(--dark-1);
  color: #fff;
  border: none;
  padding: 0px 20px;
}

input {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}

input:focus::placeholder {
  color: transparent;
}

textarea:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: #adadad;
  font-weight: 600;
}

textarea::placeholder {
  color: #adadad;
  font-weight: 600;
}

input:focus {
  outline: none;
  border: none;
}

textarea:focus {
  outline: none;
  border: none;
  padding-bottom: 3px;
}

button {
  outline: none;
  border: none;
}

button:hover {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

/*Global paragraf*/
p {
  margin-bottom: 0px;
}

/*Prompt Error*/
#prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: none;
}

#prompt p {
  font-size: 24px;
  margin-bottom: 20px;
}

#button-container {
  margin-top: 20px;
}

#button-container button {
  font-size: 18px;
}

#yes-button {
  padding: 10px 20px;
  background-color: #04a501;
  color: #fff;
  border: none;
  border-radius: 15px;
  display: none;
}

#no-button {
  padding: 10px 20px;
  background-color: #c80000;
  color: #fff;
  border: none;
  border-radius: 15px;
  display: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  min-width: 12px;
  width: 12px;
  max-width: 12px;
  min-height: 12px;
  height: 12px;
  max-height: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border: none;
  border-radius: 100px;
  border: solid 3px #e5e5e5;
  box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
  box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
  background: #aaa;
  box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
  display: block;
  height: 26px;
}

/*Media sizes*/
@media (min-width: 1400px) {
  #header-chat {
    height: 82.5px;
  }
  #header-logo {
    height: 82.5px;
  }
}

@media (min-width: 1600px) {
  #header-chat {
    height: 85.5px;
  }
  #header-logo {
    height: 85.5px;
  }
}

@media (max-width: 1800px) {
  #menu {
    width: 22%;
  }
  #conversation {
    width: 78%;
  }
  #typezone {
    width: 78%;
  }
}

@media (max-width: 1650px) {
  #menu {
    width: 24%;
  }
  #conversation {
    width: 76%;
  }
  #typezone {
    width: 76%;
  }
}

@media (max-width: 1500px) {
  #menu {
    width: 26%;
  }
  #conversation {
    width: 74%;
  }
  #typezone {
    width: 74%;
  }
}

@media (max-width: 1350px) {
  #menu {
    width: 28%;
  }
  #conversation {
    width: 72%;
  }
  #typezone {
    width: 72%;
  }
}

@media (max-width: 1200px) {
  #menu {
    width: 30%;
  }
  #conversation {
    width: 70%;
  }
  #typezone {
    width: 70%;
  }
}

@media (max-width: 1050px) {
  #menu {
    width: 32%;
  }
  #conversation {
    width: 68%;
  }
  #typezone {
    width: 68%;
  }
}

@media (max-width: 900px) {
  #menu {
    width: 100%;
  }
  #conversation {
    width: 100%;
  }
  #typezone {
    width: 100%;
  }
  #typezone {
    margin-bottom: 2px !important;
  }
  #header-logo {
    box-shadow: none;
  }
}

@media (min-width: 901px) {
  #conversation {
    display: block !important;
  }
}

@media (max-width: 300px) {
  #message-input {
    font-size: 15px;
    height: 75%;
  }
}

@media (max-width: 280px) {
  #message-input {
    font-size: 14px;
  }
}

@media (max-width: 260px) {
  #message-input {
    font-size: 13px;
    height: 70%;
  }
  #attach-button {
    padding: 8px;
  }
  #emoji-button {
    padding: 8px;
  }
  #send-button {
    padding: 8px;
  }
}

@media (max-height: 1200px) {
  #typezone {
    margin-bottom: 12px;
  }
}

@media (max-height: 1050px) {
  #typezone {
    margin-bottom: 8px;
  }
}

@media (max-height: 900px) {
  #typezone {
    margin-bottom: 4px;
  }
}
